
<div class="text-center">
	<a class="brand" href="index"><%= image_tag("SnappyQuizLogo.png", class: "brand") %> </a>
</div>

<div class="blue_block shadow">
	<p> Hello There</p>
</div>
<div class="white_block shadow">
	<p> Hello There</p>
</div>
<div class="blue_block shadow">
	<p> Hello There</p>
</div>
<div class="white_block shadow">
	<p> Hello There</p>
</div>
<div class="blue_block shadow">
	<p> Hello There</p>
</div>
<div class="white_block shadow">
	<p> Hello There</p>
</div>
<div class="blue_block shadow">
	<p> Hello There</p>
</div>
<div class="white_block shadow">
	<p> Hello There</p>
</div>