<body>
	<div class="text-center" style="margin-top:40px;">
		<%= link_to(image_tag("SnappyQuiz404Error.png", class: "brand"), root_path) %> </a>
	</div>
	<!-- This file lives in public/404.html -->
	<div class="dialog text-center white_block buffer_bottom">
		<h3>The page you were looking for doesn't exist.</h3>
		<p>You may have mistyped the address or the page may have moved.</p>
		<p>If you are the application owner check the logs for more information.</p>
	</div>

</body>