
<body>
	<div class="text-center" style="margin-top:40px;">
		<%= link_to(image_tag("SnappyQuiz404Error.png", class: "brand"), root_path) %> </a>
	</div>
	<!-- This file lives in public/404.html -->
	<div class="dialog text-center white_block buffer_bottom">
		<h3>The change you wanted was rejected.</h3>
		<p>Maybe you tried to change something you didn't have access to.</p>
		<p>If you are the application owner check the logs for more information.</p>
	</div>
</body>