body {

	background: image-url('bright_squares_@2X.png'); 
}

.test {
	background: black;
}

#header {
	height: 100px;
	background: #fff;
	margin-top: 20px;
}
#footer {
	height: 100px;
	background: #333;
	padding-top: 40px;
	position:absolute;
	bottom:0;
	width:100%;
	color: #fff;
}
.inline {
	display: inline;
}

.clear_both {
	clear: both;
}

.main_logo{
	/*padding-top: 0px;*/
	margin-top: 10px;
}
.nav_buttons {
	margin-left: 15px;
	margin-top: 20px;
	background-color: #fff;
	color: #fff;
}

.button {
	background: #fff;
	color: #fff;
}

/* Color Blocks*/
.shadow {
	-webkit-box-shadow: 18px 22px 59px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 18px 22px 59px 0px rgba(0,0,0,0.75);
	box-shadow: 18px 22px 59px 0px rgba(0,0,0,0.75);

}
.blue_block {
	background: #333;
	padding: 50px;
	padding-top: 80px;
	padding-bottom: 80px;
	margin-top: 20px;
}
.white_block {
	background: white;
	padding: 50px;
	padding-top: 80px;
	padding-bottom: 80px;
	margin-top: 20px;
}

/*Sign Up Button*/
.sign_up {
	content: "";
	display: inline-block;
	width: 200px;
	height: 55px;
	margin-top: 17px;
	background: image-url('signup.png') 0 -57px;
	/*background-image:  url('/assets/signup.png') 0 -57px;*/
}

.sign_up:after {
	content: "";
	display: inline-block;
	width: 200px;
	height: 55px;
	background: image-url('signup.png') -1px 0;
	opacity: 0;
	-webkit-transition: opacity 1s;
	-moz-transition:    opacity 1s;
	-o-transition:      opacity 1s;
}

.sign_up:hover:after {
	opacity: 1;
}

a {
  color: #000;
  &:visited {
    color: #9E9E9E;
  }
  &:hover {
    /*color: #fff;*/
    /*background: transparent;*/
  }
}

.wide {
	width: 100%;
}

.submit_button {
	background: transparent;
	border: 0;
	width: 100%;
	/*margin: 0 0 5px 0;*/
	font-size: 1.2em;
	padding: 10px 10px 10px 10px;
	border-radius: 4px;
}

/*OTHERRR*/

#main { width: 500px; border: #135CBE solid 10px; border-radius: 10px; background: white; margin-left:auto; margin-right:auto; padding: 10px;}
#main h1 {font-size:1.5em;}
#footer > p {font-size: 0.8em; text-align: center;}

.submit {font-size:1.2em; padding:5px 10px; width:150px; margin-top:10px;}
#question {
	font-size:2.2em;
	color: blue;
}

#count {font-size: 1.2em;}

#score {font-size: 2em; text-align: center; font-weight: bold;}

/* question (/quiz/question) page */
.choice {font-size: 1.2em; margin: 0; border-radius: 4px;}
.choice:hover {background-color: #ffdb73;}
.choice label {width: 400px; display: inline-block; padding: 10px 0 10px 0; margin: 0;}

/* feedback (/quiz/answer) page */
.correct {background-color: #64de89;}
.incorrect {background-color: #ff8373;}
.feedback {
	font-weight: bold; 
	font-size: 1.2em; 
}
.feedback-choice {
	margin: 0 0 5px 0;
	font-size: 1.2em;
	padding: 10px 10px 10px 10px;
	border-radius: 4px;
}


table {
	/*margin-left: 100px;*/
	width: 100%;
	border-collapse: collapse;
}

#wrapper {
	min-height:100%;
	position:relative;
}