body {

	background-image:url("bright_squares_@2X.png"); 
}

.test {
	background: black;
}

#header {
	height: 100px;
	background: #fff;
	margin-top: 20px;
}
#footer {
	height: 100px;
	background: #333;
	padding-top: 40px;
	/*position:absolute;*/
	bottom:0;
	width:100%;
	color: #fff;
}
.inline {
	display: inline;
}

.clear_both {
	clear: both;
}

.main_logo{
	/*padding-top: 0px;*/
	margin-top: 10px;
}
.nav_buttons {
	margin-left: 15px;
	margin-top: 20px;
	background-color: #fff;
	color: #fff;
}

.button {
	background: #fff;
	color: #fff;
}

/* Color Blocks*/
.shadow {
	-webkit-box-shadow: 18px 22px 59px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 18px 22px 59px 0px rgba(0,0,0,0.75);
	box-shadow: 18px 22px 59px 0px rgba(0,0,0,0.75);

}
.blue_block {
	background: #333;
	padding: 50px;
	padding-top: 80px;
	padding-bottom: 80px;
	margin-top: 20px;
}
.white_block {
	background: white;
	padding: 50px;
	padding-top: 80px;
	padding-bottom: 80px;
	margin-top: 20px;
}

/*Sign Up Button*/
.sign_up {
	content: "";
	display: inline-block;
	width: 200px;
	height: 55px;
	margin-top: 17px;
	background: url('/assets/signup.png') 0 -57px;
}

.sign_up:after {
	content: "";
	display: inline-block;
	width: 200px;
	height: 55px;
	background: url('/assets/signup.png') -1px 0;
	opacity: 0;
	-webkit-transition: opacity 1s;
	-moz-transition:    opacity 1s;
	-o-transition:      opacity 1s;
}

.sign_up:hover:after {
	opacity: 1;
}